$main: #1874bd;
$second: #6e6eda;
$third: #e47818;
$hover: #60a1d3;
$light: #d4dbe2;
$text: #333333;
$remark: #999999;
$fb: #036eb7;
$yt: #ff4141;
$line: #00c300;
$lg: 1280px;
$sm: 600px;
$md: 900px;
$padding: 50px;
$paddingMobile: 25px;
